* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

main {
    background-color: darkslateblue;
}

.card {
    background-color: whitesmoke;
}

.bg-lgray {
    background-color: lightgray;
}